# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/client/build
/client/dist
/server/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/server/.env
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
Thumbs.db
.cache/
.project
.settings/
.tmproj
*.esproj
nbproject/
*.sublime-project
*.sublime-workspace

# Local Netlify folder
.netlify

# Vercel
.vercel

# Next.js
.next/
out/

# Debug
.debug/

# Temporary files
*.tmp
*.temp
.temp/ 